<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <header>
        <h1><%= cliente.nome %> </h1>
        <h2>Conteúdo: <%= conteudo.titulo  %> </h2>        
    </header>
    <div>
        <span>status: <%= conteudo.status  %> </span>
        <h2>Linha do tempo</h2>
        <% for( let fase of conteudo.timeline ) { %>            
            <span><%= fase.date  %></span>
            <p><%= fase.descricao %></p>                         
        <% } %>
    </div>    
</body>
</html>